version: '3.9'

services:
  
  #server
  webserver:
    image: nginx
    container_name: "nginx"
    ports:
      - "80:80"
    volumes:
      - ./src:/usr/share/nginx/html

   #database
  postgresqldb:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
       POSTGRES_PASSWORD: Abcd23625@#@
       POSTGRES_USER: postgres
       POSTGRES_DB: postgres
       POSTGRES_HOST_AUTH_METHOD: trust
  
  #database admin
  postgres_admin:
    image: dpage/pgadmin4
    depends_on:
      - postgresqldb
    environment: 
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"

 ### API Spring Boot ###
  api:
    build:
      dockerfile: dockerfile
      context: /
    depends_on: 
      - postgresqldb
    environment: 
      DATABASE_URL: postgresql://139.144.112.173:5432/japanesepractice
      DATABASE_USER: postgres
      DATABASE_PASSWORD: Abcd23625@#@
    ports:
      - "8080:80"