version: '3.9'

services:
  
  #server
  webserver:
    image: nginx
    container_name: "nginx"
    ports:
      - "80:80"
    volumes:
      - ./src:/usr/share/nginx/html

  #database
  postgres:
    container_name: postgres
    image: postgres:14.0
    build: .
    ports:
      - 9090:9090
    environment:
      - DATABASE_URL=jdbc:postgresql://jpw:5432/postgres
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=postgres
  
  #database admin
  postgres_admin:
    image: dpage/pgadmin4
    depends_on:
      - postgres
    environment: 
      PGADMIN_DEFAULT_EMAIL: admin@admin.de
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"

  ### API Spring Boot ###
  api:
    build:
      dockerfile: dockerfile
      context: .
    depends_on: 
      - postgres
    environment: 
      DATABASE_URL: jdbc:postgresql://jpw:5432/postgres
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
    ports:
      - "8080:3100"
