version: '3.9'

services:
  
  #server
  webserver:
    image: nginx
    container_name: "nginx"
    ports:
      - "80:80"
    volumes:
      - ./src:/usr/share/nginx/html


  app:
    container_name: springboot-postgresql
    image: springboot-postgresql
    build: ./
    ports:
      - "8080:8080"
    depends_on:
      - postgresqldb
  
   #database
  postgresqldb:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_HOST_AUTH_METHOD=trust
  
  #database admin
  postgres_admin:
    image: dpage/pgadmin4
    depends_on:
      - postgresqldb
    environment: 
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"

 