version: '3.9'

services:
  
  #server
  webserver:
    image: nginx
    container_name: "nginx"
    ports:
      - "80:80"
    volumes:
      - ./src:/usr/share/nginx/html

   #database
  db:
    image: postgres:12-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
        POSTGRES_PASSWORD: postgres_password
  
  #database admin
  postgres_admin:
    image: dpage/pgadmin4
    depends_on:
      - db
    environment: 
     - PGADMIN_DEFAULT_EMAIL=admin@gmail.com
     - PGADMIN_DEFAULT_PASSWORD=password
    ports:
      - "5050:80"

 ### API Spring Boot ###
  api:
    build:
      dockerfile: dockerfile
      context: .
    depends_on: 
      - db
    environment: 
     - DATABASE_URL=jdbc:postgresql://139.144.112.173:5432/japanesepractice
     - DATABASE_USERNAME=postgres
     - DATABASE_PASSWORD=Abcd23625@#@
    ports:
      - "8080:8080"